<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard Assignment</title>
    <style>
        .color1 {
            background-color: {{ columncolor }};
        }
        .color2 {
            background-color: {{ rowcolor }};
        }
    </style>
</head>
<body>
    <h1>*** 8 by 8 Checkerboard ***</h1>
    <div class="wrapper">
        <table>
        {% for i in range(column): %}
            <tr>
                {% for j in range(row): %}
                <td class="color{{ (i+j)%2+1 }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
            
        </table>   
    </div>
</body>
</html>